:root {
    --sidebar-width: 250px;
}

@font-face {
    font-family: 'Maiandra';
    src: url('./maiandra.otf') format('opentype');
    font-weight: bold;
}

body {
    margin: 0px;
}

.board {
    font-family: 'Maiandra';
    color: white;
    -webkit-text-stroke: 2px #3c1049;
}

.game {
    position: absolute;
    background-color: #d0cedc;
    margin-left: var(--sidebar-width);
    width: calc(100vw - var(--sidebar-width));
    height: 100vh;
    overflow: none;
}

.game img {
    pointer-events: none;
    border-radius: 10px;
}

.game .object {
    position: absolute;
    z-index: -1;
}

.game .unplaced {
    opacity: 0.3;
}

.game .explorable {
    pointer-events: unset;
}

.game .explorable:hover {
    opacity: 0.7;
}

.game .pawn {
    border-radius: 50%;
    box-shadow: #8675af 1px 1px 1px,
        #8675af 2px 2px 1px,
        #8675af 3px 3px 1px,
        #8675af 4px 4px 1px,
        #8675af 5px 5px 1px;
    border: 3px solid black;
    transform: translate(-4px, -4px);
    pointer-events: unset;
}

.game .pawn.selected {
    outline: 3px dotted #8675af;
    outline-offset: 3px;
}

.game .destination {
    background-color: green;
    opacity: 0.5;
}

.info {
    position: fixed;
    left: calc(var(--sidebar-width) + 10px);
    top: 10px;
}

.info .section {
    border: 3px solid #8675af;
    border-radius: 5px;
    background-color: #fae6cd;
    margin-right: 5px;
    font-size: 32px;
}

.info .section.timer {
    padding: 0px 5px;
}

.info .section.explore {
    padding: 0px 5px;
}

.info .weapon {
    height: 39px;
    margin-bottom: -7.5px;
}
