:root {
    --sidebar-width: 250px;
}

@font-face {
    font-family: 'Maiandra';
    src: url('./maiandra.otf') format('opentype');
    font-weight: bold;
}

body {
    margin: 0px;
}

.game {
    position: absolute;
    background-color: #d0cedc;
    margin-left: var(--sidebar-width);
    width: calc(100vw - var(--sidebar-width));
    height: 100vh;
    overflow: none;
}

.game .object {
    position: absolute;
    z-index: -1;
}

.game .yellow {
    background-color: yellow;
}

.game .purple {
    background-color: purple;
}

.game .green {
    background-color: green;
}

.game .orange {
    background-color: orange;
}

.game img {
    pointer-events: none;
}

.game .dot {
    border-radius: 50%;
    box-shadow: 2px 2px #8675af;
    border: 1px solid black;
    transform: translate(-1x, -1px);
}

.game .dot.selected {
    outline: 3px dotted #8675af;
    outline-offset: 3px;
}

.game .destination {
    background-color: green;
    opacity: 50%;
}

.game .used {
    background-color: orange;
    opacity: 50%;
}

.action {
    width: 100px;
}

.info {
    position: fixed;
    left: calc(var(--sidebar-width) + 10px);
    top: 10px;
    font-size: 36px;
}

.weapon {
    width: 40px;
    height: 40px;
}

.explore {
    cursor: pointer;
    position: fixed;
    width: 80px;
    height: 80px;
    left: calc(var(--sidebar-width) + 10px);
    bottom: 10px;
    font-size: 72px;
}

.sidebar {
    position: absolute;
    width: var(--sidebar-width);
    height: 100vh;
    background-color: #8675af;
    color: white;
    font-family: 'Maiandra';
    font-size: 24px;
    -webkit-text-stroke: 2px #3c1049;
    display: inline-block;
}

.sidebar .title {
    font-size: 32px;
    margin: 10px;
}

.sidebar .player {
    margin: 10px;
}

.sidebar .me {
    font-size: 28px;
}
