:root {
    --sidebar-width: 250px;
}

@font-face {
    font-family: 'Maiandra';
    src: url('./maiandra.otf') format('opentype');
    font-weight: bold;
}

body {
    margin: 0px;
}

.game {
    position: absolute;
    background-color: #d0cedc;
    margin-left: var(--sidebar-width);
    width: calc(100vw - var(--sidebar-width));
    height: 100vh;
    overflow: none;
}

.game img {
    position: absolute;
    z-index: -1;
}

.game .dot {
    position: absolute;
    z-index: -1;
    border-radius: 50%;
}

.sidebar {
    position: absolute;
    width: var(--sidebar-width);
    height: 100vh;
    background-color: #8675af;
    color: white;
    font-family: 'Maiandra';
    font-size: 24px;
    -webkit-text-stroke: 2px #3c1049;
    display: inline-block;
}

.sidebar .title {
    font-size: 32px;
    margin: 10px;
}

.sidebar .player {
    margin: 10px;
}

.sidebar .me {
    font-size: 28px;
}
