.config-panel {
    position: absolute;
    width: 500px;
    top: 80px;
    left: calc(50% - 250px);
    font-size: 20px;
    background-color: lightgray;
    border: 3px solid black;
    border-radius: 5px;
    padding: 5px;
    box-shadow: #8675af 5px 5px;
    -webkit-text-stroke: 1px #3c1049;
}

.config-panel .left-arrow {
    transform: rotate(270deg);
}

.config-panel .right-arrow {
    transform: rotate(90deg);
}

.config-panel .title.left-arrow {
    float: left;
}

.config-panel .title.right-arrow {
    float: right;
}

.config-panel .scenario {
    font-size: 28px;
    text-align: center;
    margin-top: 2px;
}

.config-panel .field {
    margin-bottom: 5px;
    user-select: none;
}

.config-panel .toggleable {
    border: 1px solid #8675af;
    border-radius: 5px;
    background-color: #fae6cd;
    padding: 0px 5px;
}

.config-panel .toggleable:hover {
    cursor: pointer;
    background-color: lightgreen;
}

.config-panel .tiny-arrow {
    display: inline-block;
    font-size: 14px;
}

.config-panel .tile-set {
    display: inline-block;
    width: 200px;
    text-align: center;
}

.config-panel .start {
    display: block;
    margin: 0 auto;
    font-size: 18px;
}