.lobby {
    text-align: center;
    font-family: 'Maiandra';
}

.lobby .title {
    width: 100vw;
}

.lobby .title img {
    max-height: 40vh;
    margin: 0 auto;
    display: block;
}

.lobby .matches table {
    margin: 0 auto;
    border-spacing: 5px;
}

.lobby .matches td {
    border: 1px solid lightgray;
    padding: 5px;
}

.sound-button {
    left: 5px;
}

.leave-button {
    left: 45px;
}

.restart-button {
    left: 115px;
}

.toggle-button {
    position: fixed;
    bottom: 5px;
    cursor: pointer;
    background-color: white;
    border: 2px solid black;
    border-radius: 5px;
    height: 32px;
}

.toggle-button:hover {
    background-color: #d0cedc;
}