.lobby {
    text-align: center;
    font-family: 'Maiandra';
}

.lobby .title {
    width: 100vw;
}

.lobby .title img {
    max-height: 40vh;
    margin: 0 auto;
    display: block;
}

.lobby .matches table {
    margin: 0 auto;
    border-spacing: 5px;
}

.lobby .matches td {
    border: 1px solid lightgray;
    padding: 5px;
}

.leave-button {
    position: fixed;
    bottom: 5px;
    left: 5px;
    background-color: red;
    color: black;
    cursor: pointer;
}
