.sidebar {
    position: absolute;
    width: var(--sidebar-width);
    height: 100vh;
    background-color: #8675af;
    font-size: 24px;
    display: inline-block;
}

.sidebar .title {
    font-size: 32px;
    margin: 10px;
}

.sidebar .player {
    margin: 5px;
    padding: 5px;
}

.sidebar .player.me {
    margin: 4px;
    padding: 4px;
    border: 2px solid black;
    border-radius: 4px;
    position: relative;
}

.sidebar .player.me .tag {
    position: absolute;
    bottom: 5px;
    right: 5px;
    font-size: 16px;
    -webkit-text-stroke: 1px #3c1049;
    color: yellow;
}

.sidebar .action {
    height: 100%;
    border-radius: 10px;
}

.sidebar .player-info {
    position: absolute;
    display: inline-block;
    margin: 10px;
}

.sidebar .alert {
    height: 40px;
    cursor: pointer;
}

.sidebar .alert:hover {
    animation: shake 0.3s;
}

.sidebar .alert.shake {
    animation: shake 0.3s;
    animation-iteration-count: infinite;
    cursor: not-allowed;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }
